<form class="form form-control" [formGroup]="guestShipmentForm">
  <!-- Email -->
  <input class="form-control" formControlName="senderEmail" type="email" placeholder="Email" required>
  <div *ngIf="senderEmail?.dirty || senderEmail?.touched" class="alert">
    <div *ngIf="senderEmail?.errors?.required">
      <p>Email is required</p>
    </div>
    <div *ngIf="senderEmail?.errors?.minlength">
      <p>Email is too short</p>
    </div>
    <div *ngIf="senderEmail?.errors?.pattern">
      <p>Email format is invalid</p>
    </div>
  </div>
  <!-- Reciever first name -->
  <input class="form-control" formControlName="receiverFirstName" type="text" placeholder="First name" required>
  <div *ngIf="receiverFirstName?.dirty || receiverFirstName?.touched" class="alert">
    <div *ngIf="receiverFirstName?.errors?.required">
      <p>First name is required</p>
    </div>
    <div *ngIf="receiverFirstName?.errors?.pattern">
      <p>First name can only contain letters</p>
    </div>
  </div>
  <!-- Reciever last name -->
  <input class="form-control" formControlName="receiverLastName" type="text" placeholder="Last name" required>
  <div *ngIf="receiverLastName?.dirty || receiverLastName?.touched" class="alert">
    <div *ngIf="receiverLastName?.errors?.required">
      <p>Last name is required</p>
    </div>
    <div *ngIf="receiverLastName?.errors?.pattern">
      <p>Last name can only contain letters</p>
    </div>
  </div>
  <!-- Destination country -->
  <select formControlName="destinationCountryId">
    <option *ngIf="countries" value="" selected>Loading countries...</option>
    <option [ngValue]="country.id" *ngFor="let country of countries">{{country.name}}</option>
  </select>

  <!-- Destination postal code -->
  <input formControlName="destinationZipCode" type="text" placeholder="Postal code">
  <div *ngIf="destinationZipCode?.dirty || destinationZipCode?.touched" class="alert">
    <div *ngIf="destinationZipCode?.errors?.minlength">
      <p>Postal code is too short</p>
    </div>
    <div *ngIf="destinationZipCode?.errors?.pattern">
      <p>Postal code can only contain numbers</p>
    </div>
  </div>

  <p>Shipment cost {{cost}}</p>


  <!-- <form class="form" [formGroup]="boxFormGroup"> -->
  <ng-container formArrayName="boxFormArray">
    <p>Add boxes to your shipment</p>
    <button (click)="clearAllBoxes()">Clear all</button>
    <!-- boxFormArrayElement represents one box form in formArray -->
    <div *ngFor="let control of boxFormArray.controls; index as i">

      <form [formGroupName]="i">
        <p>Select box type</p>
        <!-- Box type select -->
        <select formControlName="boxType" required>
          <option  *ngFor="let box of boxTypes;" [ngValue]="box" >{{box.name}} - {{box.weight}} kg</option>
          <!-- <option value="1" name="Basic" selected>Basic 1 kg</option>
          <option value="2" name="Humble" >Humble 2 kg</option>
          <option value="5" name="Deluxe" >Deluxe 5 kg</option>
          <option value="8" name="Premium" >Premium 8 kg</option> -->
        </select>

        <input formControlName="boxColor"
        [value]="boxFormArray.at(i).get('boxColor')?.value.color"
        [style.background]="boxFormArray.at(i).get('boxColor')?.value.color"
        [cpOutputFormat]="'rgba'"
        [(colorPicker)]="boxFormArray.at(i).get('boxColor')?.value.color"
        [cpAlphaChannel]="'disabled'"
        [style.color]="boxFormArray.at(i).get('boxColor')?.value.color"
        (colorPickerChange)="colorChanged()" />

        <button (click)="removeBox(i)">-</button>

      </form>
    </div>


    <button (click)="addBox()">+</button>
  </ng-container>

  <button type="submit" (click)="createGuestShipment()">
    Ship
  </button>

</form>


<!-- [disabled]="
guestShipmentForm.controls['senderEmail'].invalid ||
guestShipmentForm.controls['receiverFirstName'].invalid ||
guestShipmentForm.controls['receiverLastName'].invalid ||
guestShipmentForm.controls['destinationCountryId'].invalid ||
guestShipmentForm.controls['destinationZipCode'].invalid" -->
