<mat-card class="card-container">
  <mat-card-content>
    <p>Status: {{this.currentStatus}}</p>
    <mat-progress-bar mat-card-image mode="determinate" value="{{this.currentStatusValue}}" class="progress"></mat-progress-bar>
    <div class="title">
      Shipment #{{shipment.id}} to {{shipment.receiverFirstName}} {{shipment.receiverLastName}},
      {{shipment.country.name}}
      <span>
        {{this.totalWeight}} kg | {{shipment.cost}} €
      </span>
    </div>
    <mat-card-actions>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Boxes in the Shipment
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="premium" *ngIf="this.premiumBoxes.length > 0">
          <p>Premium box (8 kg)</p>
          <div *ngFor="let box of premiumBoxes" class="colored-boxes">
            <div class="box" [ngStyle]="{'background-color': box}"></div>
          </div>
        </div>
        <div class="deluxe" *ngIf="this.deluxeBoxes.length > 0">
          <p>Deluxe box (5 kg)</p>
          <div *ngFor="let box of deluxeBoxes" class="colored-boxes">
            <div class="box" [ngStyle]="{'background-color': box}"></div>
          </div>
        </div>
        <div class="humble" *ngIf="this.humbleBoxes.length > 0">
          <p>Humble box (2 kg)</p>
          <div *ngFor="let box of humbleBoxes" class="colored-boxes">
            <div class="box" [ngStyle]="{'background-color': box}"></div>
          </div>
        </div>
        <div class="basic" *ngIf="this.basicBoxes.length > 0">
          <p>Basic box (1 kg)</p>
          <div *ngFor="let box of basicBoxes" class="colored-boxes">
            <div class="box" [ngStyle]="{'background-color': box}"></div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Shipment's Status Log
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let status of this.shipment.shipmentStatusLogs">
          <p>{{this.status.status.name}}---{{this.status.date | date}}</p>
        </div>
      </mat-expansion-panel>
    </mat-card-actions>
  </mat-card-content>
</mat-card>