<form [formGroup]="boxForm">
<ng-container formArrayName="boxFormArray">
  <p>Add boxes to your shipment</p>
  <button (click)="clearAllBoxes()">Clear all</button>
  <!-- boxFormArrayElement represents one box form in formArray -->
  <div *ngFor="let control of boxFormArray.controls; index as i">

    <form [formGroupName]="i">
      <p>Select box type</p>
      <!-- Box type select -->
      <select formControlName="boxType">
        <option *ngFor="let box of boxTypes;" [ngValue]="box">{{box.name}} - {{box.weight}} kg</option>
      </select>

      <input readonly formControlName="boxColor" [value]="boxFormArray.at(i).get('boxColor')?.value.color"
        [style.background]="boxFormArray.at(i).get('boxColor')?.value.color" [cpOutputFormat]="'rgba'"
        [(colorPicker)]="boxFormArray.at(i).get('boxColor')?.value.color" [cpAlphaChannel]="'disabled'"
        [style.color]="boxFormArray.at(i).get('boxColor')?.value.color" (colorPickerChange)="colorChanged()" />

      <button (click)="removeBox(i);">-</button>

    </form>
  </div>


  <button (click)="addBox()">+</button>
</ng-container>

</form>
