header {
  margin-bottom: 2rem;
  button {
    float: right;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    margin-bottom: 1rem;
    button {
      float: left;
      margin-top: 1rem;
    }
  }
}