/* You can add global styles to this file, and also import other style files */
@use './assets/styles/_variables' as *;

html, body { height: 100%; }
body { margin: 0; }

* { 
  font-family: 'Montserrat', sans-serif !important;
}

button { 
  background-color: $primary-color !important;
  color: #000 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

h1 {
  color: $secondary-color !important;
  font-weight: 700 !important;
}

.form input {
  display: block;
}
