<br>
<form [formGroup]="countryForm">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label> Country:
    </mat-label>
    <input matInput formControlName="countryName" [value]="country.name" [placeholder]="country.name">
  </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <!-- (change)='zoneSelected(countryForm.value.countryZone)' -->
      <mat-select formControlName="countryZone" >
        <mat-option *ngFor="let zone of zones" [value]="zone">{{zone.name}}</mat-option>
      </mat-select>
      <mat-label >
        Multiplier: {{selectedZone!.countryMultiplier}}
      </mat-label>
    </mat-form-field>



  <button mat-raised-button color="primary" (click)="saveCountry()">Save</button>
</form>
