<p>{{country.name}}</p>

<form [formGroup]="countryForm">
  <input formControlName="countryName">

  <select formControlName="countryZone">
    <option *ngFor="let zone in zones" [ngValue]="zone">{{zone.name}}</option>
  </select>
  <span>{{country.zoneId}}</span>


  <span>{{country.countryMultiplier}}</span>

  <button (click)="updateCountry({
    id: country.id,
    name: country.name,
    zoneId: country.zoneId,
    zoneName: country.zoneName,
    countryMultiplier: country.countryMultiplier
  })">Save</button>
</form>
