<h1>Login</h1>
<div class="form" [formGroup]="loginForm">
  <input class="form-control" formControlName="email" type="email" placeholder="Email" required>

  <div *ngIf="email.dirty || email.touched" class="alert">
    <div *ngIf="email.errors?.required">
      <p>Email is required</p>
    </div>
    <div *ngIf="email.errors?.pattern">
      <p>Email format is invalid</p>
    </div>
  </div>

  <input class="form-control" formControlName="email" type="text"  placeholder="Password">

  <button (click)="login()">Login</button>
</div>


<button (click)="googleLogin()">Google Login</button>