<div class="content">
  <h1>Welcome to <span>Boxinator!</span></h1>
  <button mat-flat-button (click)="googleLogin()">Login with Google</button>
  <p>Want to do an order without logging in? Order <a routerLink="/guest">here</a>.</p>
</div>



<!-- 
  Ready made validated form for login information
  <form class="form" [formGroup]="loginForm">
  Email 
  <input class="form-control" formControlName="email" type="email" placeholder="Email" required>
  <div *ngIf="email.dirty || email.touched" class="alert">
    <div *ngIf="email.errors?.required">
      <p>Email is required</p>
    </div>
    <div *ngIf="email.errors?.pattern">
      <p>Email format is invalid</p>
    </div>
  </div>
  Password 
  <input class="form-control" formControlName="password" type="password"  placeholder="Password" required>
  <div *ngIf="password.dirty || password.touched" class="alert">
    <div *ngIf="password.errors?.required">
      <p>Password is required</p>
    </div>
  </div>
  <button type="submit" [disabled]="loginForm.controls['email'].invalid || loginForm.controls['password'].invalid" (click)="login()">Login</button>
</form> 
-->