<h1>Settings</h1>

<mat-accordion>
	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
		<mat-panel-title>
		  Country settings
		</mat-panel-title>
		<mat-panel-description>
		  This is a summary of the content
		</mat-panel-description>
	  </mat-expansion-panel-header>
	  <p>This is the primary content of the panel.</p>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle>
		<mat-expansion-panel-header>
		  <mat-panel-title>
			User settings
		  </mat-panel-title>
		  <mat-panel-description>
			Edit user data
		  </mat-panel-description>
		</mat-expansion-panel-header>
		<!--User settings component-->
		<app-user-settings></app-user-settings>
	  </mat-expansion-panel>
  </mat-accordion>