<mat-form [formGroup]="newShipmentForm">
  <!-- Email -->
  <!-- <input class="form-control" formControlName="senderEmail" type="email" placeholder="Email" required>
  <div *ngIf="senderEmail?.dirty || senderEmail?.touched" class="alert">
    <div *ngIf="senderEmail?.errors?.required">
      <p>Email is required</p>
    </div>
    <div *ngIf="senderEmail?.errors?.minlength">
      <p>Email is too short</p>
    </div>
    <div *ngIf="senderEmail?.errors?.pattern">
      <p>Email format is invalid</p>
    </div>
  </div> -->


  <!-- Reciever first name -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Reciever first name</mat-label>
      <input matInput class="form-control" formControlName="receiverFirstName" type="text" placeholder="First name"
        required>
      <!-- Errors -->
      <mat-error *ngIf="(receiverFirstName?.dirty || receiverFirstName?.touched) && receiverFirstName?.errors?.required"
        class="alert">
        First name is required
      </mat-error>
      <mat-error *ngIf="(receiverFirstName?.dirty || receiverFirstName?.touched) && receiverFirstName?.errors?.pattern">
        First name can only contain letters
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Reciever last name -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Reciever last name</mat-label>
      <input matInput class="form-control" formControlName="receiverLastName" type="text" placeholder="Last name" required>
      <div *ngIf="receiverLastName?.dirty || receiverLastName?.touched" class="alert">
        <div *ngIf="receiverLastName?.errors?.required">
          <p>Last name is required</p>
        </div>
        <div *ngIf="receiverLastName?.errors?.pattern">
          <p>Last name can only contain letters</p>
        </div>
      </div>
    </mat-form-field>
  </div>
  <!-- Destination country -->
  <div>
    <mat-form-field appearance="outline">
      <mat-select formControlName="destinationCountryId">
        <mat-option *ngIf="!countries" value="" selected>Loading countries...</mat-option>
        <mat-option [value]="country.id" *ngFor="let country of countries">{{country.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Destination postal code -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Reciever first name</mat-label>
      <input matInput formControlName="destinationZipCode" type="text" placeholder="Postal code">
      <mat-error *ngIf="(destinationZipCode?.dirty || destinationZipCode?.touched) && destinationZipCode?.errors?.minlength" class="alert">
        Postal code is too short
      </mat-error>
      <mat-error *ngIf="(destinationZipCode?.dirty || destinationZipCode?.touched) &&  destinationZipCode?.errors?.pattern">
        Postal code can only contain numbers
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Destination address -->
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Destination address</mat-label>
      <input matInput formControlName="destinationAddress" type="text" placeholder="Address">
      <mat-error *ngIf="(destinationAddress?.dirty || destinationAddress?.touched) && destinationAddress?.errors?.required" class="alert">
          Address is required
      </mat-error>
    </mat-form-field>
  </div>
  <mat-label>Shipment cost {{cost}} €</mat-label>

  <app-box-form (formChange)="boxFormChanged($event)"></app-box-form>

  <button mat-raised-button color="primary" type="submit" (click)="createNewShipment()" [disabled]="
newShipmentForm.controls['receiverFirstName'].invalid ||
newShipmentForm.controls['receiverLastName'].invalid ||
newShipmentForm.controls['destinationCountryId'].invalid ||
newShipmentForm.controls['destinationAddress'].invalid ||
newShipmentForm.controls['destinationZipCode'].invalid ||
boxFormIsEmpty
">
    Ship
  </button>
</mat-form>
