@use '../assets/styles/_variables' as *;

.container {
  height: 100vh;
  padding-bottom: 4rem;
}

.content {
  padding:2rem;
}

.nav {
  background-color: $primary-color;
  width: 15%;
  display: inline-flex;
}