@use '../assets/styles/_variables' as *;

.container {
  height: 100vh;
  padding-bottom: 5rem;
}

.content {
  padding: 3rem 4rem;
  position: relative;
}

.nav {
  background-color: $primary-color;
  width: 15%;
  display: inline-flex;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 3rem;
  }

  .content {
    padding: 1.5rem 2rem;
  }
}