@use '../assets/styles/_variables' as *;

.container {
  height: 100vh;
  padding-bottom: 5rem;
}

.content {
  padding: 3rem 4rem;
  position: relative;
}

.nav {
  background-color: $primary-color;
  width: 15%;
  display: inline-flex;
}