<main>
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [disableClose]="this.disableClose" *ngIf="isLoggedIn" class="nav" [ngClass]="{'mobile': !this.disableClose}">
      <button class="close-btn" mat-icon-button (click)="toggleSidenav()" *ngIf="opened && !this.disableClose">
        <span class="material-icons">close</span>
      </button>
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <button class="menu-btn" mat-icon-button (click)="toggleSidenav()" *ngIf="isLoggedIn && !this.disableClose">
        <span class="material-icons">menu</span>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>