<h1>Register</h1>
<form #loginUser=""  class="">
  <input class="form-control" type="text" id="first_name" name="firstName" placeholder="First name" ngModel> <br>

  <input class="form-control" type="text" id="last_name" name="lastName" placeholder="Last name" ngModel><br>

  <input class="form-control" type="email" id="email" name="email" placeholder="Email" ngModel><br>

  <input class="form-control" type="text" id="password" name="password" placeholder="Password" ngModel><br>

  <input class="form-control" type="text" id="date_of_birth" name="dateOfBirth" placeholder="Date of birth" ngModel><br>

  <input class="form-control" type="text" id="country" name="country" placeholder="Country of residence" ngModel><br>

  <input class="form-control" type="text" id="zip" name="zip" placeholder="Postal code" ngModel><br>

  <input class="form-control" type="number" id="contact_number" name="contactNumber" placeholder="Contact number" ngModel><br>

  <button type="submit" class="">Login</button>
</form>
