
<div class="example-container">
	<mat-form-field appearance="outline">
	  <mat-label>Search user by name or id</mat-label>
	  <input matInput [(ngModel)]="searchvalue" required>
	</mat-form-field>
	<button mat-flat-button (click)="onSearch(searchvalue)" formtarget="_blank" [disabled]="searchvalue === ''">Search</button>
 </div>

 <!-- User selection -->
 <mat-nav-list>
	<mat-list-item *ngFor="let user of users">
	   <button (click)="selectUser(user)">{{ user.firstName }} {{ user.lastName }}
	   </button>
	</mat-list-item>
  </mat-nav-list>


<app-edit-account *ngIf="loadComponent == true" [showAdminSelection]=true [incomingUser]=selectedUser></app-edit-account>
