
<mat-form [formGroup]="searchForm">
	<mat-form-field class="form-field" appearance="outline">
		<mat-label>Search user by first name, lastname, email or id</mat-label>
		<input matInput formControlName="searchvalue" [value]="">

		<!-- Errors -->
		<mat-error
		  *ngIf="(searchvalue.touched || searchvalue.dirty) && searchvalue.errors?.required">
		  Value is required
		</mat-error>
		<mat-error
		*ngIf="(searchvalue.touched || searchvalue.dirty) && searchvalue.errors?.pattern">
		  Can only contain letters
		</mat-error>
	</mat-form-field>
	
	<button mat-raised-button color="primary" (click)="onSearch()" [disabled]="!searchForm.invalid">Search</button>
</mat-form>


 <!-- User selection -->
 <mat-nav-list>
	<mat-list-item *ngFor="let user of users">
	   <button (click)="selectUser(user)">{{ user.firstName }} {{ user.lastName }}
	   </button>
	</mat-list-item>
  </mat-nav-list>


<app-edit-account *ngIf="loadComponent == true" [showAdminSelection]=true [incomingUser]=selectedUser></app-edit-account>
