
<h3>Toggle column visibility</h3>
<mat-button-toggle-group name="selectedColumns" aria-label="selectedColumns" multiple>
  <mat-button-toggle #dateToggleBtn value="date" (change)="onValChange($event.value, dateToggleBtn.checked)">Date</mat-button-toggle>
  <mat-button-toggle #receiverToggleBtn value="receiverName" (change)="onValChange($event.value, receiverToggleBtn.checked)">Receiver</mat-button-toggle>
  <mat-button-toggle #statusToggleBtn value="status" (change)="onValChange($event.value, statusToggleBtn.checked)">Status</mat-button-toggle>
  <mat-button-toggle #weightToggleBtn value="weight" (change)="onValChange($event.value, weightToggleBtn.checked)">Weight</mat-button-toggle>
  <mat-button-toggle #costToggleBtn value="cost" (change)="onValChange($event.value, costToggleBtn.checked)">Cost</mat-button-toggle>
</mat-button-toggle-group>

<table matSort mat-table [dataSource]="sortedData" multiTemplateDataRows class="mat-elevation-z8" (matSortChange)="sortData($event)">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == element.boxes ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-color">
            <h2>Boxes</h2>
            <ul class="element.boxes">
              <li *ngFor="let box of element.boxes">
                {{box.color}}
              </li>
            </ul>
          </div>
        </div>    
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="element.boxes === element"
      (click)="element.boxes = element.boxes === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>