
<p>Select zone</p>
<form [formGroup]="zoneSelectForm">
  <select formControlName="zoneSelectControl" (change)='zoneSelected()'>
    <option *ngFor="let zone of zones" [ngValue]="zone" selected>{{zone.name}}</option>
  </select>
</form>

<input type="text" [value]="zoneSelectForm.value.zoneSelectControl.name">
<input type="number" [value]="zoneSelectForm.value.zoneSelectControl.countryMultiplier">
<button (click)="saveZone()">Save zone</button>


<!-- <p>Form value: {{ zoneSelectForm.value.zoneSelectControl | json}}</p> -->
<app-country-list  [countries]=countries! [zones]=zones!></app-country-list>
