@use '../../../../assets/styles/_variables' as *;

.user {
  text-align: center;
  margin-top: 15%;
  span {
    font-size: 6rem;
    color: #C4C4C4;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  h2 {
    margin-bottom: 0.3rem;
  }
}

.nav-list {
  margin-top: 15%;
  padding: 2rem 0rem;
  background-color: #E0805C;
}

.active-list-item {
  background-color: $primary-color;
  font-weight: 700;
}